* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar {
    position: relative;
}

.navbar .nav {
    position: fixed;
    background: rgb(170, 170, 170,0.8);
    width: 100%;
}
.navbar .content-body{
    position: absolute;
    top: 50px;
    min-height: 100vh;
    width: 100%;
    border: 1px solid green;
}